<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="ConexionStringFX" value="Provider=vfpoledb;Data Source=C:\Users\evasquez\Desktop\foxbd\interfaz2\;Collating Sequence=machine;"/>
    <add key="ServidorExchange" value="smtp.gmail.com"/>
    <add key="PuertoSMS" value="N/A"/>  
    <add key="UsuarioExchange" value="hailblacklegions@gmail.com"/>
    <add key="PassExchange" value="Oportunidad2018$"/>
    <add key="CorreoOrigen" value="hailblacklegions@gmail.com"/>
    <add key="CorreoDestino" value="evasquez@gytcontinental.com.sv"/>
    <add key="NomCorreoOrigen" value="Clientes FOX"/>
    <add key="NomCorreoDestino" value="Analistas"/>
    <add key="AsuntoCorreo" value="Tema correo"/>
    
  
    
  </appSettings>
</configuration>

